<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QUIZ-APP</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="left"><h1>QUIZ-APP</h1></div>
      <div class="right">
        <ul>
          <li>Home</li>
          <li>My Quizes</li>
          <li>Leaderboard</li>
          <li>About</li>
          <li>Contact Us</li>
        </ul>
        <% if(!user) { %>
        <button class="btn" onclick="location.href='/login'">LoginIn</button>
        <button class="btn" onclick="location.href='/signup'">SignUp</button>
        <% } else {%>
        <button class="btn" onclick="location.href='/profile'">
          <%= user.name %>
        </button>
        <button class="btn" onclick="location.href='/user/logout'">
          Logout
        </button>
        <% }%>
      </div>
    </header>
    <div class="middle">
      <div class="greet"><% if(!user) { %>
    <h1>Wecome, Guest </h1>
    <% } else {%>
      <h1>Wecome, <%= user.name %> </h1>
    <% }%>
    </div>
    <div class="mainbody">
      <h3>Upcoming Quizes</h3>
      <div class="card">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia animi reprehenderit distinctio, minima praesentium assumenda vero laboriosam. Quia eveniet quaerat ab, doloribus qui impedit iste accusamus delectus ea iure laudantium.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore incidunt dolorem veritatis, unde doloremque sunt sit reiciendis eius magnam amet, inventore doloribus? Quam quod earum cumque consequuntur, ad quibusdam quia!
      </div>
     
    </div>
    </div>
      
    
  </body>
</html>
