* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.middle{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mainbody{

    background-color: white;

    border-radius: 1.5rem;
    padding: 2rem 7rem;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
.card {
    border: 2px solid black;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem ;

}