*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(235, 215, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container{
    width: 90%;
    max-width: 375px;
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 24px -16px teal;
    background-color: white;
    margin: 30px;
    padding: 20px;
}
#form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 4px;
    width: 100%;

}
a{
    text-decoration: none;
    color: black;
}
button{
    background-color: rgb(161, 222, 222);
    width: 10%;
    border: none;
    height: 30px;
    width: 75px;
    border-radius: 5px;
    transition: all 0.1s ease-out;
}
button:hover{
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    width: 90px;
}
a:hover{
    color: white;
}

.input_text{
    border: none;
    background-color: azure;
    height: 25px;
    width: 100%;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

}
.input_sub{
    margin: 0 auto;
    background-color: rgb(161, 222, 222);
    width: 10%;
    border: none;
    height: 30px;
    width: 75px;
    border-radius: 5px;
    transition: all 0.1s ease-out;
    color: black;
    margin-top: 2%;
}
.input_sub:hover{
    cursor: pointer;
    font-size: 20px;
    background-color: black;
    width: 90px;
    color: white;
}