* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.middle{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mainbody{
    border-radius: 1.5rem;
    padding: 2rem 5%;
}
.card {
    border: 2px solid black;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem ;

}

.vote-container {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.vote-container button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 3px;
}

.vote-container button:hover {
  background-color: #dcdcdc;
  transform: scale(1.05);
}

.vote-container button:active {
  background-color: #797474;
  transform: scale(0.95);
}
.greet {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#ai-quiz-btn{
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(0, 162, 255);
    color: white;
    font-size: 1rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
#ai-quiz-btn:hover {
    background-color: rgb(0, 81, 255);
    font-size: 1.09rem;
    cursor: pointer;
}
