* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 215, 250);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5%;
    width: 100%;
    background-color: purple;
    color: white;
    padding: 10px 20px;
}

.left {
    font-size: 1.2rem;
    font-weight: bold;
}
.right{
    display: flex;
    gap: 20px;
}

.right ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 5px;
}

.right ul li {
    cursor: pointer;
    font-size: 1.1rem;
}

.btn{
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(235, 152, 152);
    color: rgb(7, 7, 7);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgba(231, 200, 22, 0.88);
    color: white;
    cursor: pointer;
}
.middle{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mainbody{

    background-color: white;
    margin-left: 12%;
    margin-right: 12%;

    border-radius: 1.5rem;
    padding: 2rem 7rem;
}
.card {
    border: 2px solid black;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem ;

}

.vote-container {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.vote-container button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 3px;
}

.vote-container button:hover {
  background-color: #dcdcdc;
  transform: scale(1.05);
}

.vote-container button:active {
  background-color: #797474;
  transform: scale(0.95);
}